{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div align="center">

    <h1>{{ form.form_name }}</h1>

    <div class="w-25">

        <form method="POST">

            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden'%}
            <div class="form-group" align="start">
                
                {{field.label(class_="mt-4")}}
                {{field(class_="form-control")}}
            
                {% for err in field.errors %}
                {{err}}
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-primary mt-2">Login</button>

        </form>

    </div>

</div>

{% endblock %}